arize-phoenix
python-dotenv
opentelemetry-api
opentelemetry-sdk
openinference-instrumentation
ollama
weaviate-client
joblib
pandas
fastapi 
uvicorn 
pydantic
bcrypt==3.2.2
passlib[bcrypt]
python-jose
sqlalchemy
pymongo
pymysql